//colors
$grey: #333333;
$white: #fff;

//Navigation colors
$nav-background: $grey;
$nav-text-color: $white;

//clock variables
$clock-text-color: $white;
$clock-bg-color:rebeccapurple;
$clock-border-color: #2099E8;
